@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<a asp-controller="Home" asp-action="Index">Back</a>
<a asp-controller="Info" asp-action="BuildMap">Races on map</a>
<a asp-controller="Info" asp-action="SelectRace">One by one</a>