@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    Thank you for ordering tickets for the race. Your booking is registered on @DateTime.Now.ToString("d"). we will send the tickets as soon as possible.
</p>
<a asp-controller="Shop" asp-action="OrderTickets"></a>
