@{
    // Define a list of banner image filenames
    var banners = new List<String>
    {
        "bannerRaces.jpg", "bannerRiders.jpg", "bannerTeams.jpg", "bannerTickets.jpg"
    };

    // Convert the value stored in ViewData["BannerNr"] to an integer
    int BannerNr = Convert.ToInt32(ViewData["BannerNr"]);

    // Use the integer to select the corresponding banner image filename from the list
    String imageUrl = banners[BannerNr];
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- Set the page title dynamically using the value stored in ViewData["Title"] -->
    <title>@ViewData["Title"] - MotoGP</title>
    <meta name="viewport" content="width=device-width" />
    <!-- Link to the site CSS stylesheet -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <!-- Create a link to the Menu action in the Home controller.
             Inside the link, display the banner image selected by imageUrl with full width -->

        <a asp-controller="Home" asp-action="Menu">
            <img src="~/images/banners/@imageUrl" width="100%" />
        </a>
    </div>
    <h1>
        @ViewData["Title"]
    </h1>
    <div>
        <!-- Render the body of the page -->
        @RenderBody()
    </div>
</body>
</html>
