@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<!-- This creates a link that navigates to the "Menu" action of the "Home" controller.
         Inside the link, there is an image element that displays a logo image from the specified path.
         The "centered" class is used to center the content within this div. -->
<div class="centered">
    <a asp-controller="Home" asp-action="Menu"><img src="~/images/banners/logo.png" alt="logo" /></a> 
</div>
