@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<style>
    .fullwidth {
        width:100%;
    }

    .display {
        text-align: center;
        width: 600px;
        margin: auto;
        padding-top: 20px;
    }
</style>
<div >
    <img src="~/images/banners/banner@(ViewData["BannerNr"]).jpg" alt="Alternate Text" class="fullwidth" />
</div>

<div class="display">
    <a asp-controller="Info" asp-action="ListRaces"><img src="~/images/banners/races.png" alt="races banner" /></a>
    <a asp-controller="Info" asp-action="ListTeams">
        <img src="~/images/banners/teams.png" alt="teams banner" />
    </a>
    <a asp-controller="Info" asp-action="ListRiders">
        <img src="~/images/banners/riders.png" alt="riders banner" />
    </a>
    <a asp-controller="Shop" asp-action="OrderTicket">
        <img src="~/images/banners/tickets.png" alt="tickets banner" />
    </a>
</div>

